# Configuration file

##########################################################################################################
# both
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by both.
# Client can be different from server.
# If client differs from server, server can disable client's setting if false.
##########################################################################################################

both {
    B:"Should the mod be used?"=true
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings controlled client.
# Can vary from server to server.
##########################################################################################################

client {
    B:hasParticles=true
    S:tableParticles=portal
}


##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Enchantments can be disabled to be enchantable in the table.
# Controlled on the server side
##########################################################################################################

enchantments {
    B:"Eternal Compass"=true
    S:"Eternal Compass-ToolTip"=
    B:Reading=true
    S:Reading-ToolTip=
    B:enchant.cofh.holding=true
    S:enchant.cofh.holding-ToolTip=
    B:enchant.cofh.multishot=true
    S:enchant.cofh.multishot-ToolTip=
    B:enchantment.Blue=true
    S:enchantment.Blue-ToolTip=
    B:enchantment.Green=true
    S:enchantment.Green-ToolTip=
    B:enchantment.Orange=true
    S:enchantment.Orange-ToolTip=
    B:enchantment.Red=true
    S:enchantment.Red-ToolTip=
    B:enchantment.Violet=true
    S:enchantment.Violet-ToolTip=
    B:enchantment.Yellow=true
    S:enchantment.Yellow-ToolTip=
    B:enchantment.agility=true
    S:enchantment.agility-ToolTip=
    B:enchantment.arrowDamage=true
    S:enchantment.arrowDamage-ToolTip=Increases damage
    B:enchantment.arrowFire=true
    S:enchantment.arrowFire-ToolTip=Flaming arrows
    B:enchantment.arrowInfinite=true
    S:enchantment.arrowInfinite-ToolTip=Shooting consumes no arrows
    B:enchantment.arrowKnockback=true
    S:enchantment.arrowKnockback-ToolTip=Increases knockback
    B:enchantment.autosmelt=true
    S:enchantment.autosmelt-ToolTip=
    B:enchantment.berserk=true
    S:enchantment.berserk-ToolTip=
    B:enchantment.binding=true
    S:enchantment.binding-ToolTip=
    B:enchantment.cleave=true
    S:enchantment.cleave-ToolTip=
    B:enchantment.cluster=true
    S:enchantment.cluster-ToolTip=
    B:enchantment.consuming=true
    S:enchantment.consuming-ToolTip=
    B:enchantment.corrupting=true
    S:enchantment.corrupting-ToolTip=
    B:enchantment.damage.all=true
    S:enchantment.damage.all-ToolTip=Extra damage
    B:enchantment.damage.arthropods=true
    S:enchantment.damage.arthropods-ToolTip=Extra damage to spiders, cave spiders and silverfish
    B:enchantment.damage.undead=true
    S:enchantment.damage.undead-ToolTip=Extra damage to undead mobs
    B:enchantment.defusing=true
    S:enchantment.defusing-ToolTip=
    B:enchantment.digging=true
    S:enchantment.digging-ToolTip=Faster resource gathering while in use
    B:enchantment.disarm=true
    S:enchantment.disarm-ToolTip=
    B:enchantment.disjunction=true
    S:enchantment.disjunction-ToolTip=
    B:enchantment.dowsing=true
    S:enchantment.dowsing-ToolTip=
    B:enchantment.draconicevolution.reaperEnchant=true
    S:enchantment.draconicevolution.reaperEnchant-ToolTip=
    B:enchantment.durability=true
    S:enchantment.durability-ToolTip=Increases durability
    B:enchantment.educational=true
    S:enchantment.educational-ToolTip=
    B:enchantment.execute=true
    S:enchantment.execute-ToolTip=
    B:enchantment.explosive=true
    S:enchantment.explosive-ToolTip=
    B:enchantment.fire=true
    S:enchantment.fire-ToolTip=Lights the target on fire
    B:enchantment.fishingSpeed=true
    S:enchantment.fishingSpeed-ToolTip=
    B:enchantment.fleetfoot=true
    S:enchantment.fleetfoot-ToolTip=
    B:enchantment.frost=true
    S:enchantment.frost-ToolTip=
    B:enchantment.greedy=true
    S:enchantment.greedy-ToolTip=
    B:enchantment.harvest=true
    S:enchantment.harvest-ToolTip=
    B:enchantment.haste=true
    S:enchantment.haste-ToolTip=Usable on boots and the Thaumostatic Harness only. Makes you move faster. Very effective on Boots of the Traveller, or the Thaumostatic Harness.
    B:enchantment.iceaspect=true
    S:enchantment.iceaspect-ToolTip=
    B:enchantment.impact=true
    S:enchantment.impact-ToolTip=
    B:enchantment.knockback=true
    S:enchantment.knockback-ToolTip=Increases knockback
    B:enchantment.knowledge=true
    S:enchantment.knowledge-ToolTip=
    B:enchantment.leech=true
    S:enchantment.leech-ToolTip=
    B:enchantment.lootBonus=true
    S:enchantment.lootBonus-ToolTip=Mobs can drop more loot
    B:enchantment.lootBonusDigger=true
    S:enchantment.lootBonusDigger-ToolTip=Increases the drop rate of items from blocks
    B:enchantment.lootBonusFishing=true
    S:enchantment.lootBonusFishing-ToolTip=
    B:enchantment.magicresist=true
    S:enchantment.magicresist-ToolTip=
    B:enchantment.matteroverdrive.weapon.damage=true
    S:enchantment.matteroverdrive.weapon.damage-ToolTip=
    B:enchantment.mending=true
    S:enchantment.mending-ToolTip=
    B:enchantment.mobility=true
    S:enchantment.mobility-ToolTip=
    B:enchantment.molecule.aalc.coated=true
    S:enchantment.molecule.aalc.coated-ToolTip=
    B:enchantment.molecule.alinine.coated=true
    S:enchantment.molecule.alinine.coated-ToolTip=
    B:enchantment.molecule.amphetamine.coated=true
    S:enchantment.molecule.amphetamine.coated-ToolTip=
    B:enchantment.molecule.arginine.coated=true
    S:enchantment.molecule.arginine.coated-ToolTip=
    B:enchantment.molecule.asparagine.coated=true
    S:enchantment.molecule.asparagine.coated-ToolTip=
    B:enchantment.molecule.asparticAcid.coated=true
    S:enchantment.molecule.asparticAcid.coated-ToolTip=
    B:enchantment.molecule.asprin.coated=true
    S:enchantment.molecule.asprin.coated-ToolTip=
    B:enchantment.molecule.buli.coated=true
    S:enchantment.molecule.buli.coated-ToolTip=
    B:enchantment.molecule.caulerpenyne.coated=true
    S:enchantment.molecule.caulerpenyne.coated-ToolTip=
    B:enchantment.molecule.cocaine.coated=true
    S:enchantment.molecule.cocaine.coated-ToolTip=
    B:enchantment.molecule.cocainehcl.coated=true
    S:enchantment.molecule.cocainehcl.coated-ToolTip=
    B:enchantment.molecule.cyanide.coated=true
    S:enchantment.molecule.cyanide.coated-ToolTip=
    B:enchantment.molecule.cysteine.coated=true
    S:enchantment.molecule.cysteine.coated-ToolTip=
    B:enchantment.molecule.dimethyltryptamine.coated=true
    S:enchantment.molecule.dimethyltryptamine.coated-ToolTip=
    B:enchantment.molecule.ethanol.coated=true
    S:enchantment.molecule.ethanol.coated-ToolTip=
    B:enchantment.molecule.fingolimod.coated=true
    S:enchantment.molecule.fingolimod.coated-ToolTip=
    B:enchantment.molecule.glycine.coated=true
    S:enchantment.molecule.glycine.coated-ToolTip=
    B:enchantment.molecule.hist.coated=true
    S:enchantment.molecule.hist.coated-ToolTip=
    B:enchantment.molecule.histidine.coated=true
    S:enchantment.molecule.histidine.coated-ToolTip=
    B:enchantment.molecule.isoleucine.coated=true
    S:enchantment.molecule.isoleucine.coated-ToolTip=
    B:enchantment.molecule.latropine.coated=true
    S:enchantment.molecule.latropine.coated-ToolTip=
    B:enchantment.molecule.leucine.coated=true
    S:enchantment.molecule.leucine.coated-ToolTip=
    B:enchantment.molecule.meoh.coated=true
    S:enchantment.molecule.meoh.coated-ToolTip=
    B:enchantment.molecule.mescaline.coated=true
    S:enchantment.molecule.mescaline.coated-ToolTip=
    B:enchantment.molecule.metblue.coated=true
    S:enchantment.molecule.metblue.coated-ToolTip=
    B:enchantment.molecule.methamphetamine.coated=true
    S:enchantment.molecule.methamphetamine.coated-ToolTip=
    B:enchantment.molecule.methionine.coated=true
    S:enchantment.molecule.methionine.coated-ToolTip=
    B:enchantment.molecule.mycotoxin.coated=true
    S:enchantment.molecule.mycotoxin.coated-ToolTip=
    B:enchantment.molecule.nodularin.coated=true
    S:enchantment.molecule.nodularin.coated-ToolTip=
    B:enchantment.molecule.pal2.coated=true
    S:enchantment.molecule.pal2.coated-ToolTip=
    B:enchantment.molecule.pantherine.coated=true
    S:enchantment.molecule.pantherine.coated-ToolTip=
    B:enchantment.molecule.penicillin.coated=true
    S:enchantment.molecule.penicillin.coated-ToolTip=
    B:enchantment.molecule.phenylalanine.coated=true
    S:enchantment.molecule.phenylalanine.coated-ToolTip=
    B:enchantment.molecule.phosgene.coated=true
    S:enchantment.molecule.phosgene.coated-ToolTip=
    B:enchantment.molecule.proline.coated=true
    S:enchantment.molecule.proline.coated-ToolTip=
    B:enchantment.molecule.psilocybin.coated=true
    S:enchantment.molecule.psilocybin.coated-ToolTip=
    B:enchantment.molecule.radchlor.coated=true
    S:enchantment.molecule.radchlor.coated-ToolTip=
    B:enchantment.molecule.retinol.coated=true
    S:enchantment.molecule.retinol.coated-ToolTip=
    B:enchantment.molecule.serine.coated=true
    S:enchantment.molecule.serine.coated-ToolTip=
    B:enchantment.molecule.starch.coated=true
    S:enchantment.molecule.starch.coated-ToolTip=
    B:enchantment.molecule.sucrose.coated=true
    S:enchantment.molecule.sucrose.coated-ToolTip=
    B:enchantment.molecule.sulfuricAcid.coated=true
    S:enchantment.molecule.sulfuricAcid.coated-ToolTip=
    B:enchantment.molecule.testosterone.coated=true
    S:enchantment.molecule.testosterone.coated-ToolTip=
    B:enchantment.molecule.tetrodotoxin.coated=true
    S:enchantment.molecule.tetrodotoxin.coated-ToolTip=
    B:enchantment.molecule.thc.coated=true
    S:enchantment.molecule.thc.coated-ToolTip=
    B:enchantment.molecule.theobromine.coated=true
    S:enchantment.molecule.theobromine.coated-ToolTip=
    B:enchantment.molecule.threonine.coated=true
    S:enchantment.molecule.threonine.coated-ToolTip=
    B:enchantment.molecule.tyrosine.coated=true
    S:enchantment.molecule.tyrosine.coated-ToolTip=
    B:enchantment.molecule.valine.coated=true
    S:enchantment.molecule.valine.coated-ToolTip=
    B:enchantment.molecule.water.coated=true
    S:enchantment.molecule.water.coated-ToolTip=
    B:enchantment.molecule.xanax.coated=true
    S:enchantment.molecule.xanax.coated-ToolTip=
    B:enchantment.molecule.xylitol.coated=true
    S:enchantment.molecule.xylitol.coated-ToolTip=
    B:enchantment.nightVision=true
    S:enchantment.nightVision-ToolTip=
    B:enchantment.null=true
    S:enchantment.null-ToolTip=
    B:enchantment.openblocks.explosive=true
    S:enchantment.openblocks.explosive-ToolTip=
    B:enchantment.openblocks.flimflam=true
    S:enchantment.openblocks.flimflam-ToolTip=
    B:enchantment.openblocks.laststand=true
    S:enchantment.openblocks.laststand-ToolTip=
    B:enchantment.oxygen=true
    S:enchantment.oxygen-ToolTip=Decreases the rate of air loss underwater; increases time between damage while suffocating and drowning
    B:enchantment.poison=true
    S:enchantment.poison-ToolTip=
    B:enchantment.poisonprotect=true
    S:enchantment.poisonprotect-ToolTip=
    B:enchantment.protect.all=true
    S:enchantment.protect.all-ToolTip=Reduces damage from all sources
    B:enchantment.protect.explosion=true
    S:enchantment.protect.explosion-ToolTip=Protection against explosion damage; reduces explosion recoil
    B:enchantment.protect.fall=true
    S:enchantment.protect.fall-ToolTip=Protection against fall damage
    B:enchantment.protect.fire=true
    S:enchantment.protect.fire-ToolTip=Protection against fire damage; fire is extinguished faster
    B:enchantment.protect.projectile=true
    S:enchantment.protect.projectile-ToolTip=Protection against damage from projectile entities
    B:enchantment.quickdraw=true
    S:enchantment.quickdraw-ToolTip=
    B:enchantment.railcraft.crowbar.destruction=true
    S:enchantment.railcraft.crowbar.destruction-ToolTip=
    B:enchantment.railcraft.crowbar.implosion=true
    S:enchantment.railcraft.crowbar.implosion-ToolTip=
    B:enchantment.railcraft.crowbar.wrecking=true
    S:enchantment.railcraft.crowbar.wrecking-ToolTip=
    B:enchantment.repair=true
    S:enchantment.repair-ToolTip=Consumes vis from the local aura to repair the item with this enchantment
    B:enchantment.resurrection=true
    S:enchantment.resurrection-ToolTip=
    B:enchantment.soul_stealer=true
    S:enchantment.soul_stealer-ToolTip=
    B:enchantment.soulbound=true
    S:enchantment.soulbound-ToolTip=
    B:enchantment.spellbane=true
    S:enchantment.spellbane-ToolTip=
    B:enchantment.steadfast=true
    S:enchantment.steadfast-ToolTip=
    B:enchantment.thorns=true
    S:enchantment.thorns-ToolTip=This enchantment has a 15% chance per level to damage mobs that hurt the wearer by half a heart to two hearts. This enchantment can be applied to all armour types. 
    B:"enchantment.ttinkerer:ascentBoost"=true
    S:"enchantment.ttinkerer:ascentBoost-ToolTip"=
    B:"enchantment.ttinkerer:autoSmelt"=true
    S:"enchantment.ttinkerer:autoSmelt-ToolTip"=
    B:"enchantment.ttinkerer:desintegrate"=true
    S:"enchantment.ttinkerer:desintegrate-ToolTip"=
    B:"enchantment.ttinkerer:dispersedStrike"=true
    S:"enchantment.ttinkerer:dispersedStrike-ToolTip"=
    B:"enchantment.ttinkerer:finalStrike"=true
    S:"enchantment.ttinkerer:finalStrike-ToolTip"=
    B:"enchantment.ttinkerer:focusedStrike"=true
    S:"enchantment.ttinkerer:focusedStrike-ToolTip"=
    B:"enchantment.ttinkerer:pounce"=true
    S:"enchantment.ttinkerer:pounce-ToolTip"=
    B:"enchantment.ttinkerer:quickDraw"=true
    S:"enchantment.ttinkerer:quickDraw-ToolTip"=
    B:"enchantment.ttinkerer:shatter"=true
    S:"enchantment.ttinkerer:shatter-ToolTip"=
    B:"enchantment.ttinkerer:shockwave"=true
    S:"enchantment.ttinkerer:shockwave-ToolTip"=
    B:"enchantment.ttinkerer:slowFall"=true
    S:"enchantment.ttinkerer:slowFall-ToolTip"=
    B:"enchantment.ttinkerer:tunnel"=true
    S:"enchantment.ttinkerer:tunnel-ToolTip"=
    B:"enchantment.ttinkerer:valiance"=true
    S:"enchantment.ttinkerer:valiance-ToolTip"=
    B:"enchantment.ttinkerer:vampirism"=true
    S:"enchantment.ttinkerer:vampirism-ToolTip"=
    B:enchantment.untouching=true
    S:enchantment.untouching-ToolTip=Mined blocks will drop themselves instead of the item(s) it should drop
    B:enchantment.venom=true
    S:enchantment.venom-ToolTip=
    B:enchantment.voidtouched=true
    S:enchantment.voidtouched-ToolTip=
    B:enchantment.vorpal=true
    S:enchantment.vorpal-ToolTip=
    B:enchantment.waterWorker=true
    S:enchantment.waterWorker-ToolTip=Increases underwater mining rate
    B:enchantment.wg.backstab=true
    S:enchantment.wg.backstab-ToolTip=
    B:enchantment.wg.gemstoneBrittle=true
    S:enchantment.wg.gemstoneBrittle-ToolTip=
    B:enchantment.wg.gemstonePotency=true
    S:enchantment.wg.gemstonePotency-ToolTip=
    B:enchantment.wg.invisibleGear=true
    S:enchantment.wg.invisibleGear-ToolTip=
    B:enchantment.wg.rideProtect=true
    S:enchantment.wg.rideProtect-ToolTip=
    B:enchantment.wg.stealth=true
    S:enchantment.wg.stealth-ToolTip=
    B:enchantment.wg.unveiling=true
    S:enchantment.wg.unveiling-ToolTip=
    B:enchantment.wrath=true
    S:enchantment.wrath-ToolTip=
    B:enchantment.xpboost=true
    S:enchantment.xpboost-ToolTip=
    B:simplyjetpacks.enchantment.fuelEfficiency=true
    S:simplyjetpacks.enchantment.fuelEfficiency-ToolTip=
}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by server.
##########################################################################################################

server {
    B:"Are bookshelves required to do an enchantment?"=true
    I:"At when level do players need to have bookshelves?"=5
    B:"Can players disenchant items they have not enchanted?"=false
    B:"Can the table disenchant items?"=true
    B:"Can the table enchant damaged items?"=true
    B:"Can the table repair items?"=true
    B:"Disregard item type?"=false
    D:"How blast resistant is the table?"=2000.0
    D:"How long to break the table?"=5.0
    B:"Should the table have light?"=true
    I:"What is the cost factor?"=5
    I:"What is the repair factor"=5
}


